body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.titleHeader{  
  background: #121212;
  height: 50px;  
  color: #fff;
  margin-bottom: 5px;
}

.titleHeader h3 {
  height: 50px;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin: 0;  
}

.peopleStarWars{
  display: flex;
  justify-content: space-between;
}

.namePeople{
  padding: 5px 10px;
}

.namePeople p {
  color: #121212;
  font-weight: bold;
  margin: 0;
}

.namePeople small {
  color: #828282;
}

.iconRight {
  font-size: 20px;
  padding-right: 15px;
  padding-top: 12px;
  color: #121212;
}

.generalInformation {
  padding: 0 5px;
}

.eyeColor,
.hairColor,
.skinColor,
.birthYear {
  display: flex;
  justify-content: space-between;  
}

.eyeColor,
.hairColor,
.skinColor,
.birthYear, p {
  margin: 5px 0;
  color: #828282;
  font-weight: bold;  
  font-size: 14px;
}

.eyeColor,
.hairColor,
.skinColor,
.birthYear, span {  
  color: #121212;   
}

.vehiclesInformation h4 {
  padding: 0 5px;
}

.vehiclesInformation p {
  margin: 13px 0;
  color: #828282;
  font-weight: bold; 
  padding-left: 5px; 
}

.headerDataCell {
  display: flex;
  background-color: #121212;
  justify-content: end;
}

.iconLeft {
  padding: 15px;
  font-size: 20px;  
  color: #fff;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding-top: 15px;
}

.errorData {
  color: #EC5757;
  text-align: center;
  padding-top: 15px;
}


